.margin-top-10 {
    margin-top: 10px;
}

.hide{
    display: none;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.preview .standardMargin{
    margin-top: 8px;
}

.preview  .apig-jobview-constraint-title {
    text-transform: uppercase;
    cursor: pointer;
}

.preview .btn-sm{
    margin-right: 10px;
}
