@import "~bootstrap/scss/bootstrap";

/* Start Collapse Function */
.job-child-job-container {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
}
/* End Collapse Function */