@import "~bootstrap/scss/bootstrap";

/* Start Collapse Function */
.job-child-job-container {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
}
/* End Collapse Function */
html {
    height: 100%;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100%;
    padding-bottom: 3rem;
}

.code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
